* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

.colors {
  height: 30vh;
  background-image: linear-gradient(80deg, tomato, tomato, gold, royalblue, lime, royalblue, gold, tomato, tomato);
  background-size: 800%;
  -webkit-animation: colors 5s linear infinite;
          animation: colors 5s linear infinite;
}

@-webkit-keyframes colors {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100 0;
  }
}

@keyframes colors {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100 0;
  }
}

#sky {
  position: relative;
  width: 900px;
  height: 60vh;
  background-color: royalblue;
  -webkit-animation: sky 8s infinite linear;
          animation: sky 8s infinite linear;
}

.sun {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: gold;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 50px gold;
          box-shadow: 3px 3px 50px gold;
  -webkit-animation: sun 8s infinite linear;
          animation: sun 8s infinite linear;
}

#ground {
  position: relative;
  bottom: 0;
  width: 900px;
  height: 40vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6a3434), to(#000));
  background-image: linear-gradient(to bottom, #6a3434, #000);
}

.grass {
  position: absolute;
  text-outline: 0;
  width: 100%;
  height: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(#27ff00), color-stop(#2fbf43), to(#27ff00));
  background-image: linear-gradient(to right, #27ff00, #2fbf43, #27ff00);
}

.road {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 100px;
  background-image: -webkit-gradient(linear, left top, right top, from(#545454), color-stop(#414141), to(#545454));
  background-image: linear-gradient(to right, #545454, #414141, #545454);
}

.car {
  position: absolute;
  left: 100px;
  top: -50px;
  width: 200px;
  height: 100px;
  background-color: yellow;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-animation: car 8s ease-in infinite;
          animation: car 8s ease-in infinite;
}

.windows {
  position: absolute;
  background-color: blue;
  width: 50px;
  height: 50px;
}

.front-window {
  left: 150px;
  border-top-right-radius: 50px;
}

.rear-window {
  left: 0px;
  border-top-left-radius: 50px;
}

.wheels {
  position: absolute;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px dashed white;
  -webkit-animation: wheels 2s infinite linear;
          animation: wheels 2s infinite linear;
}

.front-wheel {
  top: 65px;
  left: 120px;
}

.rear-wheel {
  top: 65px;
  left: 30px;
}

@-webkit-keyframes sun {
  0% {
    top: 1000px;
  }
  30% {
    -webkit-box-shadow: 0 0 30px yellow;
            box-shadow: 0 0 30px yellow;
  }
  40% {
    top: 50px;
    -webkit-box-shadow: 0 0 30px orange;
            box-shadow: 0 0 30px orange;
  }
  50% {
    -webkit-box-shadow: 0 0 30px yellow;
            box-shadow: 0 0 30px yellow;
  }
  60% {
    top: 50px;
    -webkit-box-shadow: 0 0 30px orange;
            box-shadow: 0 0 30px orange;
  }
  70% {
    -webkit-box-shadow: 0 0 30px yellow;
            box-shadow: 0 0 30px yellow;
  }
  100% {
    top: 1000px;
  }
}

@keyframes sun {
  0% {
    top: 1000px;
  }
  30% {
    -webkit-box-shadow: 0 0 30px yellow;
            box-shadow: 0 0 30px yellow;
  }
  40% {
    top: 50px;
    -webkit-box-shadow: 0 0 30px orange;
            box-shadow: 0 0 30px orange;
  }
  50% {
    -webkit-box-shadow: 0 0 30px yellow;
            box-shadow: 0 0 30px yellow;
  }
  60% {
    top: 50px;
    -webkit-box-shadow: 0 0 30px orange;
            box-shadow: 0 0 30px orange;
  }
  70% {
    -webkit-box-shadow: 0 0 30px yellow;
            box-shadow: 0 0 30px yellow;
  }
  100% {
    top: 1000px;
  }
}

@-webkit-keyframes car {
  from {
    left: -500px;
  }
  to {
    left: 1500px;
  }
}

@keyframes car {
  from {
    left: -500px;
  }
  to {
    left: 1500px;
  }
}

@-webkit-keyframes wheels {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wheels {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes sky {
  0% {
    background-color: #000;
  }
  40% {
    background-color: royalblue;
  }
  60% {
    background-color: royalblue;
  }
  100% {
    background-color: #000;
  }
}

@keyframes sky {
  0% {
    background-color: #000;
  }
  40% {
    background-color: royalblue;
  }
  60% {
    background-color: royalblue;
  }
  100% {
    background-color: #000;
  }
}
/*# sourceMappingURL=style.css.map */